# Variáveis do JWT
JWT_SECRET="SECRET"
JWT_AUDIENCE="http://localhost:3000"
JWT_ISSUER="http://localhost:3333"

# Porta declarada no main.ts
PORT=3333

# Origem das requisições
ORIGIN=http://localhost:3000,http://www.localhost:3000

# Database used by docker-compose postgres service
DB_USER=denis
DB_PASSWORD=root
DB_NAME=encurtei_db

# Prisma / NestJS connection string (aponta para o serviço 'postgres' do docker-compose)
# formato recomendado: postgresql://USER:PASS@HOST:PORT/DBNAME
DATABASE_URL="postgresql://denis:root@postgres:5432/flux?schema=public"

# Redis (aponta para o serviço 'redis' do docker-compose)
REDIS_PASSWORD=root
REDIS_HOST=redis
REDIS_PORT=6379
# URL usado por bibliotecas que aceitam URI (inclui senha depois dos dois pontos)
REDIS_URL="redis://:root@redis:6379/0"

# Node environment
NODE_ENV=production